<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="logo mb-5 d-flex justify-content-center">
            <img src="images/logo.png" alt="LivreTom" class="sidebar-logo" />
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>
